<div class="wayf-container">
    <span class="wayf-label">{{ 'Login with'|trans }}</span>
    <a class="wayf-link" href="{{ login_url }}">
        <img src="{{ icon.uri }}" alt="WAYF Logo" width="{{ icon_size.width }}" height="{{ icon_size.height }}" class="wayf-logo">
    </a>
</div>